<?xml version="1.0" ?>
<!--

Each Framework_Site must have a config.xml. This is loaded up by Framework_Site
and can be accessed via Framework::$site->config. Feel free to add your own
configuration stuff here.

-->
<framework>
    <db>
        <type>MySQL</type>
        <dsn>mysql:dbname=@dbnameToken@;host=@dbhostToken@;username=@dbuserToken@;password=@dbpassToken@</dsn>
    </db>

    <!-- 
        This MUST be readable/writeable by your web server's user (this is
        normally nobody/nogroup or www-data/www-data).
    -->
    <logFile>/tmp/framework.log</logFile>

	<!--
		app				-	The name of the ARIS application
		company			-	The "company" that created the application
		techEmail		-	The email address of technical support/help 
		tablePrefix		-	The tables to use in SQL
	-->
	<aris>
		<app>ARIS</app>
		<company>ARIS</company>
		<techEmail>techsupport@gmail.com</techEmail>
		<tablePrefix>%tablePrefix%</tablePrefix>
		<main>
			<title>Player %s</title>
			<body>Welcome to ARIS</body>
			<defaultModule>Main</defaultModule>
		</main>
		<nodeViewer>
			<title>Contact List</title>
		</nodeViewer>
		<map>
			<!--ABQIAAAAaBINj42Tz4K8ZaoZWWSnWRT2yXp_ZAY8_ufC3CFXhHIE1NvwkxQkcVoUCrdum-UscUMoKinDrDjThQ is for localhost-->
			<!--ABQIAAAAKdhUzwbl5RsEXD6h2Ua_HRQsvlSBtAWfm4N2P3iTGfWOp-UrmRRwG9t9N2_fCbAVKXjr59p56Fx_zA is for atsosxdev-->
			<!--ABQIAAAAKdhUzwbl5RsEXD6h2Ua_HRRloMOfjiI7F4SM41AgXh_4cb6l9xTntP3tXw4zMbRaLS6TOMA3-jBOlw is for arisgames.org-->
			<googleKey>@googleMapsKeyToken@</googleKey>
			<width>320</width>
			<height>200</height>
			<error>0.0005</error>
			<playerColor>yellow</playerColor>
		</map>
		<quest>
			<title>Quests</title>
		</quest>
		<inventory>
			<title>Inventory</title>
			<imageIcon>defaultImageIcon.png</imageIcon>
			<videoIcon>defaultVideoIcon.png</videoIcon>
			<audioIcon>defaultAudioIcon.png</audioIcon>
			<pdfIcon>defaultPdfIcon.png</pdfIcon>
			<startingIDs>
			</startingIDs>
		</inventory>
		<async>
			<notification>Signal lost.</notification>
		</async>
		
		<developer>
			<title>Developer</title>
		</developer>
		
		<applications>
			<startingIDs>
			<id>2</id>
			<id>3</id>
			<id>4</id>
			<id>5</id>
			<id>6</id>
			<id>7</id>
			</startingIDs>
		</applications>
		
		<events>
			<startingIDs>
			</startingIDs>
		</events>
	</aris>

    <!--
        userTable       -   The users table to draw user data from 
        userField       -   The primary key for userTable
        defaultUser     -   Create a dummy record and put it's primary key here
    -->
    <user>
        <userTable>players</userTable>
        <userField>player_id</userField> 
        <defaultUser>0</defaultUser>
    </user>

</framework>
