html
{
}

body
{
  background: #F4F4F4;
  font-family: calibri,tahoma,arial,sans-serif;
  font-size: 1em;
  height: 100%;
  width: 100%;
  margin-top:30px;
}

#main
{
  width: 1000px;
  margin: 0 auto;
}

a:link {color:#AAAAAA; text-decoration:none;}
a:visited {color:#AAAAAA; text-decoration:none;}
a:hover {color:#336699; text-decoration:underline;}

/*
div
{
  border-width:2px;
  border-style:dotted;
}
*/

.backgroundPlate
{
  width: 100%;
  position:absolute;
  left:0px;
  background-color:#222;
  z-index:-10;
}

#topPlate
{
  height: 470px;
  top:0px;
}

#bottomPlate
{
  height: 50px;
  position: relative;
  top:50px;
}

#bottomBar
{
  width:1000px;
  margin:0 auto;
  color:#AAAAAA;
}
 
#header
{
  height: 80px;
}

img
{
  float: left;
}

#logotext
{
  font-family: arial,sans-serif;
  color: #fff;
  font-size: 3em;
  font-weight: bold;
  padding-top: 30px;
}

#mapContainer 
{
  margin:0 auto;
  margin-top: 2%;
  border: solid white 10px;
  height: 400px;
  text-align: center;
}

#mainStatsContainer
{
  margin:0 auto;
  margin-top: 1%;
  font-family: calibri, arial, sans-serif;
  font-weight: bold;
  text-align: center;
  border-top:1px solid #AAAAAA;
}

.statsContainer
{
  margin:0 1%;
  width:29%;
}

.graph
{
width:80%; 
height:60px;
border-top:1px solid #AAAAAA;
border-bottom:1px solid #AAAAAA;
margin:0 auto;
}

#totalPlayers
{
  float:left;
}

#totalGames
{
  margin:0 auto;
}

#totalEditors
{
  float:right;
}

.bigNum
{
  margin: 0;
  font-size: 4em;
}

.bigText
{
  margin: 0;
  font-size: 2em;
}

.graphText
{
  margin: 0;
  padding: 0;
  font-size: 1em;
  color:#AAAAAA;
  position:relative;
  bottom:2px;
}

#topTenGames
{
  margin:0 auto;
  width: 100%;
  border: solid #AAAAAA 2px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  position:relative;
  top:20px;
}

#liveFeedContainer
{
  margin-top: 1%;
  float: left;
  width: 40%;
  height: 500px;
  border: solid white 2px;
  border-radius: 15px;
  -moz-border-radius: 15px;
}

h1
{
  text-align: center;
}

#topTenElementForDay, #topTenElementForWeek, #topTenElementForMonth
{
  display: none;
}

.topTenElement
{
  border-top: solid #AAAAAA 2px;
  padding: 1%;
  height: 75px;
}

.topTenNum
{
  font-family: arial,sans-serif;
  color: #336699;
  font-size: 3em;
  font-weight: bold;
  float: left;
}

.topTenGameName
{
  font-weight: bold;
  float: left;
}

.topTenGameDesc
{
  font-style: italic;
}

.topTenGameCount
{
  font-family: arial,sans-serif;
  color: #FF9900;
  font-size: 3em;
  font-weight: bold;
  float: right;
  padding: 2px;
  border: solid white 2px;
  border-radius: 15px;
  -moz-border-radius: 15px;
}

#topTenButtonBox
{
  width: 11.5em;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: #555;
  color: white;
  margin: 10px auto;
  border: solid white 2px;
  border-radius: 15px;
  -moz-border-radius: 15px;
}
