@charset "UTF-8";
/* CSS Document */

* {
	padding:0;
	margin:0;
}

body {
	background-color: #000;
	height: 100%;
	color: #ddd;
}

#container {
	font-family: verdana, helevetica, arial, sans-serif;
	text-align: left;
	display: block;
	min-height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
	width: 315px;
}

#nav {
	background-color: #333;
	background: url("header.png") repeat-x scroll ;
	
	clear:    both;
	position: absolute;
	width:    100%;
	height:   45px;
	bottom:   0;
	left:     0;
	
	margin:  0;
	padding: 0;
	display: block;
	z-index: 999;
}

#nav img {
	height: 45 px;
	width: 45px;
}

#nav tr {
	border: 1px solid green;
}

#nav td {
	width: 55px;
	text-align: center;
}
	
#content {
	font-family: arial;
	width: 100%;
	letter-spacing: .05em;
	text-align:left;
	padding-bottom:70px;
}

#content h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	padding-top: 0.3em;
	padding-left: 0.3em;
	padding-right: 0.3em;
	padding-bottom: 0.3em;
}

#content h1.inventory_list {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
	padding-top: 0.3em;
	padding-left: 0.3em;
	padding-right: 0.3em;
	padding-bottom: 0em;
}

#content h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	padding-top: 0.3em;
	padding-left: 0.3em;
	padding-right: 0.3em;
}

#content p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	padding-left: 0.3em;
	padding-right: 0.3em;
	padding-bottom: .5em;
	text-effect: bold;
}

#content table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	padding-top: .5em;
	padding-left: 0.3em;
	padding-right: 0.3em;
	padding-bottom: .5em;
	
}

#content p.alert {
	color: #f00;
}

#content img.quest_list {
	height: 3em;
	width: 3em;
}

#content img.inventory_list {
	height: 3em;
	width: 3em;
}

#content img.map {
	float: right;
	height: 40%;
	width: 40%;
	padding: 1em;
}

#content a:visited,
#content a:link,
#content a:hover,
#content a:active {
	color: #fff;
	line-height:1em;
	/*font-size: x-large;*/
	text-decoration: none;
	/*padding-left: .3em;*/
	padding-bottom: .7em;
}

#content a:hover {
	color: #CCCCFF;
}

#content a:active {
	color: blue;
}

img {
	border: 0;
}

h1 {
	border-bottom: 1px solid #5A5D5A;
	text-align: center;
	background: url("header.png") repeat-x scroll ;
}

#content h2.task {
	padding-left: 0;
}

#content h3 {
	font-size: 14px;
}

p.task {
	margin-left: 1em;
}

td.taskimg {
	vertical-align: top;
}

hr {
	border: 0;
	border-bottom: 1px solid #5A5D5A;
}

/* Changed from IUI */
fieldset {
	border: none;
}

.fieldcontainer {
    position: relative;
    margin: 0 10px 10px 10px;
    padding: 0;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    border: 1px solid #999999;
    text-align: right;
    font-size: 16px;
}

.row  {
    position: relative;
    min-height: 42px;
    border-bottom: 1px solid #999999;
    -webkit-border-radius: 0;
    text-align: right;
}

.last {
    border-bottom: none !important;
}

.row > input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    border: none;
    padding: 12px 10px 0 100px;
    height: 42px;
    background: none;
    font-weight: none;
    font-size: 16px;
    width: 293px;
}

.row > label {
	color: #557894;
    position: absolute;
    margin: 0 0 0 14px;
    line-height: 42px;
    font-weight: bold;
}

.submit {
    position: relative;
    min-height: 42px;
	padding-right: 10px;
    text-align: right;
    background: none;
}

.submit > input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-border-radius: 10px;
    margin: 0;
    border: 1px solid #999;
    height: 42px;
    width: 128px;
    font-weight: bold;
    background: white;
    font-size: 1em;
    color: #557894
}

.submit > input:active {
	border: 1px solid #173F91;
	background: url("blueBack.png") repeat-x ;
	color: white;
}

.submit > input:hover {
	background-color: #CCCCFF;
	color: white;
}

