<html>
<head>
<script type="text/javascript" language="javascript">
<!-- 
var isIPhone = false;

function init() {
    var agent = navigator.userAgent;
    if (agent.indexOf("iPhone") > -1) {
        isIPhone = true;
    }
    parent.startOptions();
}

function scrollToBottom() {
    if (!isIPhone) {
        document.getElementById("viewAnchor").scrollIntoView(true);
    }
    else {
        document.getElementById("viewAnchor").scrollIntoView(true);
    }
}
//-->
</script>
<link href="common.css" rel="stylesheet" type="text/css" />
</head>
<body class="frameBody" onload="init();">
	<div id="chatWindow">
	<table id="dialog" width="295px">
		<tr><td><div style="padding-top: 10px; font-style: italic;">Chat started.</div></td></tr>
	</table>
	</div>
	<div id="viewAnchor" style="height:10px;"></div>
</body>
</html>
